<!-- <ng-container *ngIf="!loading">
  <h1>Producto: {{ product?.title }}</h1>
  <h2 [ngStyle]="{ color: color }">Price: {{ product?.price | currency }}</h2>
  <h3 *ngIf="product?.description">Description: {{ product?.description }}</h3>
</ng-container> -->

<div class="center">
  <div class="card" style="max-width: 20rem">
    <img
      [src]="[product?.image]"
      class="card-img-top"
      [alt]="[product?.title]"
    />
    <div class="card-body">
      <h5 class="card-title">{{ product?.title }}</h5>
      <h6 [ngStyle]="{ color: color }">
        Price: {{ product?.price | currency }}
      </h6>
      <p class="card-text">{{ product?.description }}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
<ng-container *ngIf="loading"
  ><i style="color: blue">Loading...</i></ng-container
>
